---
import Layout from "../../layouts/Layout.astro";
import BlogPostPreview from "../../components/BlogPostPreview.astro";
import { getCollection } from "astro:content";
import { t } from "../../i18n";

const posts = (await getCollection("blog", ({ data }) => !data.draft)).sort(
	(a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime(),
);
---

<Layout locale="fr" title={t("fr", "blog.metaTitle")} description={t("fr", "blog.metaDescription")}>
	<section class="blog" aria-label="Articles de blog">
		<div class="blog__header">
			<h1 class="blog__title">{t("fr", "blog.title")}</h1>
		</div>
		{
			posts.length > 0 ? (
				<div class="blog__grid">
					{posts.map((post) => (
						<BlogPostPreview
							title={post.data.title}
							link={post.data.substackUrl}
							pubDate={post.data.pubDate.toISOString()}
							excerpt={post.data.excerpt ?? ""}
							slug={post.id}
							image={post.data.image}
							locale="fr"
						/>
					))}
				</div>
			) : (
				<p class="blog__empty">{t("fr", "blog.loadError")}</p>
			)
		}
	</section>
</Layout>

<style lang="scss">
	@use "../../styles/components/Blog.scss";
</style>
