---
import {Debug} from 'astro/components';
import {getCollection} from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import ExhibitionPreview from '../components/ExhibitionPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

//const exhibitions = await getCollection('exhibition');

const response = await fetch('http://localhost:1337/api/exhibitions?populate=*');
const json = await response.json();
const baseURL = 'http://localhost:1337';

// convert the data to an array

interface Exhibition {
	id: number;
	attributes: {
		title: string;
		description: string;
		slug: string;
		link_label: string;
		image: {
			data: {
				attributes: {
					url: string;
					alternativeText: string;
				};
			};
		};
	};
}

const exhibitionsData: Exhibition[] = json.data;

// deconstruct exhibition data into a new object
const collectionName = `exhibition`;
const exhibitions = exhibitionsData.map((exhibition) => {
	const {id, attributes} = exhibition;
	const {title, description, slug, link_label, image} = attributes;
	const {data} = image;
	const {url: imageURL, alternativeText} = data.attributes;

	return {
		id,
		title,
		description,
		slug,
		link_label,
		image: {
			url: `${baseURL}${imageURL}`,
			alt: alternativeText,
		},
	};
});
---

<BaseLayout title='Expositions en cours' description='Exposition des oeuvres de Jonathan Barbeau'>
	<div class='stack gap-20'>
		<main class='wrapper stack gap-8'>
			<Hero title='Expositions' tagline='Voici mes expositions courantes et à venir.' align='start' />
			<Grid variant='offset'>
				{
					exhibitions.map((project) => (
						<ExhibitionPreview
							type={collectionName}
							title={project.title}
							description={project.description}
							slug={project.slug}
							image={project.image.url}
							alt={project.image.alt}
						/>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
