---
import {Debug} from 'astro/components';
import {getCollection} from 'astro:content';
// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro';
import Socials from '../components/Socials.astro';
import Icon from '../components/Icon.astro';


const works = await Astro.glob('../content/artwork/collection/*.md');

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---


<BaseLayout>
	<section class='hero'>
		<div class='hero-container'>
			<h1 class='hero-title'>Jonathan Barbeau</h1>
			<h4 class='hero-subtitle'>Generative Artist based in Québec City</h4>
			<div class='socials'>
				<Socials />
			</div>
		</div>
	</section>
	<section class='work'>
		<div class='work-container'>
			<h2 class='work-title'>Recent Work</h2>

			<ul class="recent-work-list">
				{works.map(work =>(
					<Debug {work} />
					<li class="recent-work-item">
						<hr />
						<div class='work-layout'>
							<div class='work-description'>
								<h3 class='work-description-title'>{work.frontmatter.title}</h3>
								<p class='work-description-info'>{work.frontmatter.subtitle}</p>
								<p class='work-description-text'>
								{work.frontmatter.description}
								</p>
								<a class='work-description-link button' href='https://256art.com/project/jeu-de-ligne-2'>
									View Project<Icon isButton={true} icon={'external'} />
								</a>
							</div>
							<slot/>

						</div>
					</li>
				))}

			</ul>
		</div>
	</section>
	<style>
		.hero-title {
			margin-bottom: 0.1em;
		}

		.socials {
			margin-top: 0.5rem;
		}

		.work-description {
			margin: 1em 0;
			max-width: 600px;
		}
		.work-description-info {
			margin: 0.15em 0;
			font-size: 0.8em;
			color: var(--accent-regular);
		}
		.work-description-text {
			line-height: 1.25em;
			margin: 0.5em 0 1em 0;
		}
		.work-layout {
			display: flex;
			flex-direction: column;
			overflow-x: scroll;
			margin-top: 2em;
		}
		.work-image-row {
			display: flex;
			flex-direction: row;
			gap: 2em;
			overflow-x: auto; /* Enable horizontal scrolling */
		}

		.work-image {
			max-height: 100%; /* Fill the cell's height */
			max-width: 100%;
			height: 600px;
			width: auto;
		}

		.button {
			padding: 0.5em 1em;
			border-radius: 50px;
			background-color: var(--gray-0);
			color: var(--gray-999);
			text-decoration: none;
			display: flex;
			align-items: center;
			justify-content: center;
			width: fit-content;
		}
	</style>
</BaseLayout>
