---
import Icon from "./Icon.astro";
import type {Props as IconProps} from "./Icon.astro";

interface Props {
	label: string;
	icon?: IconProps["icon"];
	href: string;
	target: string;
	class?: string;
	attributes?: object;
}

const {label, icon, href, target, class: className = "", attributes} = Astro.props;
---

<a href={href} class={`button ${className}`} target={target} {...attributes}>
	<span> {label}</span>
	{icon && <Icon icon={icon} />}
</a>

<style lang='scss'>
	@use "../styles/components/Button.scss";
</style>
