---
import Icon from "./Icon.astro";
import type {Props as IconProps} from "./Icon.astro";

interface Props {
	label: string;
	icon?: IconProps["icon"];
	href: string;
	target: string;
	class?: string;
	attributes?: object;
}

const {label, icon, href, target, class: className, attributes} = Astro.props;

console.log(attributes);
---

<a href={href} class={`button ${className}`} target={target} {...attributes}>
	<span> {label}</span>
	{icon && <Icon icon={icon} />}
</a>

<style>
	.button {
		border-radius: 50px;
		background-color: var(--gray-0);
		color: var(--gray-999);
		text-decoration: none;
		display: flex;
		align-items: center;
		padding: 0.5em 1.25em;
		font-size: 0.675rem;
		justify-content: center;
		width: fit-content;
		border: 1px solid black;
		cursor: pointer;
		transition: all 0.3s;
		gap: 0.5em;
	}

	.button:hover {
		background-color: var(--gray-999);
		color: var(--gray-0);
	}
</style>
